@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid animate__animated animate__backInLeft">
    <h1 class="text-center titulos">Bem vindo ao cadastro de fornecedor</h1>
    <form class="row g-3">

        <div class="col-md-6">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" id="inputType4">
        </div>

        <div class="col-md-6">
            <label class="form-label">CNPJ</label>
            <input type="text" class="form-control" id="inputCNPJ4">
        </div>

        <div class="col-12">
            <label class="form-label">Endereco</label>
            <input type="text" class="form-control" id="inputAdress">
        </div>

        <br>

        <div class="col-12  mt-3">
            <button type="submit" class="btn btn-primary cadastrar">Cadastrar</button>
        </div>
    </form>
</div>