@{
    ViewData["Title"] = "Home Page";
}
    
     <h1 class="text-center titulos">Confira o nosso catálogo</h1>
     <div class="container-fluid animate__animated animate__backInLeft">
         <div class="col-12">
             <img class="foto-sapato" src="https://images.lojanike.com.br/1024x1024/produto/tenis-nike-air-max-90-masculino-CN8490-002-1.jpg" class="d-block w-100" alt="...">
         </div>
     </div>
