<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Fornecedor</title>
    <link rel="stylesheet" href="css/style-login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/js/bootstrap.js">
    <link rel="stylesheet" href="./bootstrap-5.0.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container-fluid">
        <h3 class="text-center mt-5 mb-5">Listar fornecedores</h3>
        <div class="table-responsive table-boordles">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id_Fornecedor</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CNPJ</th>
                        <th scope="col">Endereço</th>
                        <th scope="col">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Rua Victor Augusto, 225</td>
                        <td>
                            <button type="button" class="btn btn-danger">Excluir</button>
                            <button type="button" class="btn btn-secondary">Alterar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Rua Diogo Torres, 205</td>
                        <td>
                            <button type="button" class="btn btn-danger">Excluir</button>
                            <button type="button" class="btn btn-secondary">Alterar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Rua Kelberth, 107</td>
                        <td>
                            <button type="button" class="btn btn-danger">Excluir</button>
                            <button type="button" class="btn btn-secondary">Alterar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
</body>

</html>