@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center titulos">Lista de Modelos</h1>
<table class="table caption-top mt-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Tamanho</th>
            <th scope="col">Cor</th>
            <th scope="col">Valor (R$)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Sapato</td>
            <td>40</td>
            <td>Preto</td>
            <td>120,00</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Chinelo</td>
            <td>40</td>
            <td>Preto</td>
            <td>100,00</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Sandália</td>
            <td>38</td>
            <td>Cinza</td>
            <td>50,00</td>
        </tr>
    </tbody>
</table>
