@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center titulos">Lista de Fornecedores</h1>
<table class="table caption-top mt-5">
    <thead class="table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Jorge</td>
            <td>21525863250147</td>
            <td>Rua Jorge Veigar, 258</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Gilbiscleido</td>
            <td>1236589415821</td>
            <td>Rua João Matarazo, 781</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Omar</td>
            <td>25896357896547</td>
            <td>Avenida Vader, 896</td>
        </tr>
    </tbody>
</table>