@{
    ViewData["Title"] = "Produtos";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">


</head>

<h1 class="mt-5 text-center titulo mb-5 animate__animated animate__backInUp">Nosso catalogo</h1>
<div class="row animate__animated animate__backInLeft">

    <div class="col-sm-4">
        <div class="card">
            <img class="img-salto" src="~/img/Sapatos/air-max.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content.
                </p>
                <p class="card-text">Valor : R$450.00</p>

                <div class="card">
                    <small class="text-muted">
                        <button type="button"
                                class="btn btn-primary button-price">
                            Comprar
                        </button>
                    </small>
                </div>
            </div>
        </div>
        </div>

    <div class="col-sm-4">
        <div class="card">
            <img class="img-salto" src="~/img/Sapatos/air-max.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content.
                </p>
                <p class="card-text">Valor : R$450.00</p>

                <div class="card">
                    <small class="text-muted">
                        <button type="button"
                                class="btn btn-primary button-price">
                            Comprar
                        </button>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img class="img-salto" src="~/img/Sapatos/jordan.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content.
                </p>
                <p class="card-text">Valor : R$450.00</p>

                <div class="card">
                    <small class="text-muted">
                        <button type="button"
                                class="btn btn-primary button-price">
                            Comprar
                        </button>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img class="img-salto" src="~/img/Sapatos/salto.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content.
                </p>
                <p class="card-text">Valor : R$450.00</p>

                <div class="card">
                    <small class="text-muted">
                        <button type="button"
                                class="btn btn-primary button-price">
                            Comprar
                        </button>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <img class="img-salto" src="~/img/Sapatos/salto.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content.
                </p>
                <p class="card-text">Valor : R$450.00</p>

                <div class="card">
                    <small class="text-muted">
                        <button type="button"
                                class="btn btn-primary button-price">
                            Comprar
                        </button>
                    </small>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="card">
            <img class="img-salto" src="~/img/Sapatos/salto.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    This is a longer card with supporting text below as a natural lead-in to
                    additional content.
                </p>
                <p class="card-text">Valor : R$450.00</p>

                <div class="card">
                    <small class="text-muted">
                        <button type="button"
                                class="btn btn-primary button-price">
                            Comprar
                        </button>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>


