@model IEnumerable<Projeto_Loja_Sapatos.Models.Modelos>

@{ ViewData["Title"] = "Produtos";
    List<string> categorias = new List<string>();
    List<Projeto_Loja_Sapatos.Models.Modelos> _modelos = new List<Projeto_Loja_Sapatos.Models.Modelos>();

}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/js/bootstrap.js">
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

</head>

<h1 class="mt-5 text-center titulo mb-5 animate__animated animate__backInUp">Nosso catalogo</h1>

<p>
    <a type="button" class="btn btn-success text-center" align="center" asp-action="Create">Adicionar Produto</a>
</p>

<div class="row animate__animated animate__backInLeft">

    @foreach (var item in Model)
    {
        if (!categorias.Exists(x => x == item.CodigoRef.ToLower().Split("_")[0]))
        {
            _modelos.Clear();
            categorias.Add(item.CodigoRef.ToLower().Split("_")[0]);
            <h1> @item.CodigoRef.ToLower().Split("_")[0] </h1>

            foreach (var item2 in Model)
            {
                if(item2.CodigoRef.ToLower().Split("_")[0] == item.CodigoRef.ToLower().Split("_")[0])
                {
                    _modelos.Add(new Modelos { CodigoRef = item2.CodigoRef, Cor = item2.Cor, Id = item2.Id, Id_fornecedor = item2.Id_fornecedor, Nome = item2.Nome, Tamanho = item2.Tamanho });
                }
            }

            @await Html.PartialAsync("_Categoria", _modelos)
        }
    }
    @*<h1>Salto</h1>
        @await Html.PartialAsync("_Salto.cshtml", Model)

        <h1>Tenis</h1>
        @await Html.PartialAsync("_Tenis.cshtml", Model)*@

</div>
